* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.nav-header {
  /* width: 100%; */
  background-color: #333;
  overflow: hidden;
  padding: 10px;
  /* font-size: 16px; */
}

.nav-content {
  float: left;
  /* background-color: yellow; */
}

.page-content {
  padding: 10px;
  clear: both;
}

#my-name {
  color: #ff8142;
  font-size: 24px;
  font-weight: bold;
  min-width: 250px;
  cursor: pointer;
}

.my-job {
  color: white;
  font-size: 16px;
  /* font-weight: bold; */
}

.buttons {
  float: left;
  width: 100%;

  /* background-color: green; */
  /* padding: 10px 0px 0px 0px; */
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  font-size: 22px;
  /* align-items: center; */
  /* align-content: space-evenly; */
  justify-content: space-between;
  /* text-align: justify; */
  padding: 10px 0px 0px 0px;
  column-gap: 10px;
  row-gap: 10px;
  /* align-items: eve; */
  /* align-content: space-evenly; */
}

.buttons a {
  float: left;

  color: #fff;
  text-decoration: none;
  /* display: inline-block; */
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* justify-content: center; */
  /* align-content: space-evenly; */
  /* padding: 0px 10px 0px 0px; */
}

.buttons a:hover,
.resume:hover .resume-button {
  color: #ff8142;
  /* background-color: #575757; */
}

.resume {
  display: inline;
}

.resume-button {
  font-size: 22px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.resume-items {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* width: auto; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 4px 4px 4px 4px;
}

.resume-items a {
  font-size: 20px;
  color: black;
  /* padding: 5px 5px; */
  text-decoration: none;
  display: block;
  text-align: left;
}

.resume-items a:hover {
  background-color: #ddd;
  border-radius: 4px;
}

.resume:hover .resume-items {
  display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {
  .page-content {
    background-color: red;
  }
  .buttons {
    width: 100%;
  }
}

@media only screen and (min-width: 451px) {
  .page-content {
    background-color: orange;
  }
  .buttons {
    width: 95%;
  }
}

@media only screen and (min-width: 530px) {
  .page-content {
    background-color: yellow;
  }
  .buttons {
    width: 50%;
  }
}

@media only screen and (min-width: 680px) {
  .page-content {
    background-color: pink;
  }
  .buttons {
    width: 60%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .page-content {
    background-color: green;
  }

  .buttons {
    justify-content: space-around;
    /* padding: 10px 0px 0px 20px;
  column-gap: 20px; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page-content {
    background-color: cyan;
  }

  .buttons {
    justify-content: space-around;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page-content {
    background-color: magenta;
  }

  .buttons {
    width: 59%;
  }
}
