/* Basic reset and styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.nav_header {
  width: 100%;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: #333;
  overflow: hidden;
  /* font-size: 16px; */
  padding: 10px;
}

.nav_content {
  float: left;
  /* background-color: yellow; */
}

.my_name {
  color: #ff8142;
  font-size: 22px;
  font-weight: bold;
  min-width: 250px;
  cursor: pointer;
}

.my_job {
  color: white;
  font-size: 16px;
  /* font-weight: bold; */
}

.buttons {
  /* background-color: green; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 0px 0px;
  font-size: 16px;
}

.buttons a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px 0px 0px;
}

.buttons a:hover,
.dropdown:hover .dropbtn {
  color: #ff8142;
  /* background-color: #575757; */
}

.testo {
  padding: 10px;
  clear: both;
}

.dropdown {
  display: inline-block;
  font-size: 16px;
  padding: 0px 10px 0px 0px;
}

.dropbtn {
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  font-size: 16px;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive styling
@media only screen and (min-width: 768px) {
  .buttons {
    margin: 30;
    padding: 30;
    font-size: 22;
  }
}
*/

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
/* @media only screen and (min-width: 501px) {
  div.buttons div.dropdown {
    font-size: 16px;
  }
} */

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
/* @media only screen and (max-width: 500px) {
  div.buttons div.dropdown {
    font-size: 22px;
  }
} */
