.page-content,
.padded-page-content {
  clear: both;
  background-color: bisque;
}

.padded-page-content {
  padding: 20px;
}

.page-center {
  max-width: 1100px;
  margin: auto;
  padding-top: 30px;
}

.skills {
  max-width: 900px;
  margin: auto;
}

.skill {
  background-color: #8f73733c;
  width: 250px;
  border-radius: 10px;
  padding: 15px;
  line-height: 1.4em;
  margin: 10px;
}

.align-r {
  text-align: right;
}

.padded-5px {
  padding: 5px;
}

.padded-10px {
  padding: 10px;
}

.orange {
  color: #ff8142;
}

.contact-input {
  width: 60vw;
  max-width: 650px;
  padding: 4px;
  border-radius: 4px;
  border-width: thin;
}

.radius-4px {
  border-radius: 4px;
}
