.career-buttons {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 3vw;
  row-gap: 10px;
  font-size: 18px;
}

.career-buttons a {
  background-color: #333333ee;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  color: white;
}
.career-buttons a:hover {
  color: #ff8142;
}

.career-section {
  max-width: 1000px;
  margin: 30px;
  background-color: #33333315;
  border-radius: 10px;
  padding: 10px;
}

.experience {
  width: 800px;
  line-height: 1.4em;
}

#experience-resume {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 16px;
}
