/* Basic reset and styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  overflow: hidden;
  font-size: 24px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nome {
  color: #ff8142;
  font-size: 24px;
  font-weight: bold;
}

.sottonome {
  color: white;
  font-size: 16px;
  /* font-weight: bold; */
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  font-size: 20px;
}

.nav-links a:hover,
.dropdown:hover .dropbtn {
  color: #ff8142;
  /* background-color: #575757; */
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  font-size: 20px;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 17px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-icon {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.content {
  padding: 10px;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
  }

  .nav-links a,
  .dropdown {
    display: block;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}
